<div class="mt-5 nav-scrollable">
    <MudNavMenu>
        <MudNavLink Href="/admindashboard" Match="NavLinkMatch.All">Admin Dashboard</MudNavLink>
        <MudNavLink Href="/productmanagement" Match="NavLinkMatch.Prefix">Product Management</MudNavLink>
        <MudNavGroup Title="Settings" Expanded="true">
            <MudNavLink Href="/users" Match="NavLinkMatch.Prefix">Users</MudNavLink>
            <MudNavLink Href="/security" Match="NavLinkMatch.Prefix">Security</MudNavLink>
        </MudNavGroup>
    </MudNavMenu>
</div>
